td {
  height: 200px;
  width: 200px;
  font-size: 150px;
  text-align: center;
  color: white;
}
.table{
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
table {
  margin-top: 100px;
}
body {
  text-align: center;
}
.hovery:hover {
  cursor: pointer;
}
h1 {
  font-size: 50px;
}
label {
  font-size: 20px;
}

#headlines {
  text-align: center;
  border-bottom: 5px solid #ebe6a0;
  padding-bottom: 10px;
}

img {
  height: 200px;
  width: 190px;
}

.r1 {
  border-bottom: 1px solid black;

}
.r2 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.r3 {
  border-top: 1px solid black;
}

.c1 {
  border-right: 1px solid black;
}

.c2 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.c3 {
  border-left: 1px solid black;
}
.win {
  border: 5px dotted blue;
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes colorChange {
  15%, 100%  {
    border: 5px solid #7be89a;
  }
  40% {
    border: 5px dotted #ffac80;
  }
  65% {
    border: 5px solid #ebe6a0;
  }
  {
  90%  {border: 5px dashed #82ffe8;
  }
}
