td {
  height: 200px;
  width: 200px;
  font-size: 15px;
  text-align: center;
}
img {
  height: 200px;
  width: 200px;
}
#r1 {
  border-bottom: 1px solid black;
}
#r2 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

#r3 {
  border-top: 1px solid black;
}

.c1 {
  border-right: 1px solid black;
}

.c2 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.c3 {
  border-left: 1px solid black;
}
